#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('user_groups')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('user_group_edit')
          .panel-body
            .row
              .col-md-6
                = render 'form'
