#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= t('task_statuses')
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            = t('task_status_create')
          .panel-body
            .row
              .col-md-6
                = render 'form'
