#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Task statuses
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Tasks with this status
          .panel-body
            Soon
