#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Tasks
        %h5 To create a task fill in the fields
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Create a task
          .panel-body
            .row
              .col-md-6
                = render 'form'
