#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Task priority types
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Edit the task priority type
          .panel-body
            .row
              .col-md-6
                = simple_form_for [:admin, @task_priority_type] do |f|
                  = f.input :name
                  = f.button :submit, 'Edit', class: 'btn btn-success'
