#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Task priority types
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Tasks with this priority type
          .panel-body
            Soon
