#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Post categories
        %h5 To create a post category fill in the field
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Create a new post category
          .panel-body
            .row
              .col-md-6
                = render 'form'
