#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2= page_header
        %h5 To create a #{page_header_singularized} fill in the field
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Create a new #{page_header_singularized}
          .panel-body
            .row
              .col-md-6
                = render 'form'
