#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Posts
    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Edit the post
          .panel-body
            .row
              .col-md-6
                = render 'form'
