%nav.navbar-default.navbar-side{:role => 'navigation'}
  .sidebar-collapse
    %ul#main-menu.nav
      %li.text-center
        .user-image.img-responsive= gravatar_for(current_user)
      %li
        %a{href: admin_dashboard_path, class: current_path(admin_dashboard_path)}
          %i.fa.fa-dashboard.fa-3x
          Dashboard
      %li
        %a{href: '#', class: current_path(admin_users_path)}
          %i.fa.fa-user.fa-3x
          Users
          %span.fa.arrow
        %ul.nav
          %li
            %a{href: admin_users_path}
              %i.fa.fa-list
              List
          %li
            %a{href: new_admin_user_path}
              %i.fa.fa-user-plus
              Add new
          %li
            %a{href: admin_change_password_path}
              %i.fa.fa-lock
              Change password
      %li
        %a{href: '#', class: current_path(admin_user_groups_path)}
          %i.fa.fa-users.fa-3x
          User groups
          %span.fa.arrow
        %ul.nav
          %li
            %a{href: admin_user_groups_path}
              %i.fa.fa-list
              List
          %li
            %a{href: new_admin_user_group_path}
              %i.fa.fa-plus-square
              Add new
      %li
        %a{href: '#', class: current_path(admin_task_statuses_path)}
          %i.fa.fa-check-square-o.fa-3x
          Task statuses
          %span.fa.arrow
        %ul.nav
          %li
            %a{href: admin_task_statuses_path}
              %i.fa.fa-list
              List
          %li
            %a{href: new_admin_task_status_path}
              %i.fa.fa-plus-square
              Add new
