.container
  .row.text-center
    .col-md-12
      %br
      %br
      %h2= t('denied')
      %h5 Envene
      %br

  %p= t('note')

  - if !user_signed_in?
    %p
      #{t('please')},
      = link_to t('sign_in').downcase + '.', new_user_session_path
