#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Admin Dashboard
        %h5 Welcome #{current_user.username}, love to see you back.
    %hr
    .row
      .col-md-4.col-sm-4.col-xs-4
        .panel.panel-back.noti-box
          %span.icon-box.bg-color-green.set-icon
            %i.fa.fa-users
          .text-box
            %p.main-text= User.count
            %p.text-muted Users
      .col-md-4.col-sm-4.col-xs-4
        .panel.panel-back.noti-box
          %span.icon-box.bg-color-blue.set-icon
            %i.fa.fa-check-square-o
          .text-box
            %p.main-text= Task.count
            %p.text-muted Tasks
      .col-md-4.col-sm-4.col-xs-4
        .panel.panel-back.noti-box
          %span.icon-box.bg-color-brown.set-icon
            %i.fa.fa-newspaper-o
          .text-box
            %p.main-text= Post.count
            %p.text-muted Posts
