#page-wrapper
  #page-inner
    .row
      .col-md-12
        %h2 Admin Dashboard
        %h5 Welcome #{current_user.username}, love to see you back.
    %hr
    .row
      .col-md-3
        .panel.panel-primary.text-center.no-boder.bg-color-green
          .panel-body
            %i.fa.fa-users.fa-5x
            %h3= User.count
          .panel-footer.back-footer-green
            Registered users
